<!DOCTYPE html>
<html lang='da'>

<head>
	<title>
		Admin Panel |
		<%= titel %>
	</title>

	<!-- Bootstrap v4.1 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	    crossorigin="anonymous">

	<!-- Custom Stylesheet -->
	<link rel='stylesheet' href='../stylesheets/style.css' />
</head>

<body>
	<header>
		<% include ../../partials/navbar %>
	</header>
	<main>
		<div class="container">
			<h1>
				<%= titel %>
			</h1>
			<p>Velkommen til
				<%= titel %>
					- Admin Panel
			</p>
			<div class="row">
				<form action="/opdater-titel" method="POST">
					<div class="input-group mb-3">
						<input type="text" id="titelInput" name="titelInput" class="form-control" value="<%= titel %>" aria-label="Skift siden's titel"
						    aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button id="titelKnap" class="btn btn-outline-secondary disabled" type="submit">Gem ændring</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="snackbar">
			<%= statusCode %>
		</div>
		<script src="javascripts/snackbar.js"></script>
	</main>
	<footer>

	</footer>
	<!-- Bootstrap requirements -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	    crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	    crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	    crossorigin="anonymous"></script>

	<!-- Custom scripts -->
	<script src="javascripts/onChange.js"></script>
</body>

</html>